/* Универсальный селектор */
*{
  /*color: green;*/
}
/* Селекторы элементов (тегов) */
p{
  color: #f00;
}
li{
  color: red;
}
a{
  color: cadetblue;
}
td{
  background-color: bisque;
}
/* Селекторы атрибутов */
[title]{
  background-color: bisque;
}
[href="#sect1"]{
  color: aquamarine;
}
[href^="http"]{
  border: 2px dashed #f00;
}
/* Гиперссылки заканчиваются на .pdf */
[href$=".avi"],
[href$=".pdf"]{
  display: inline-block;
  font-size: 34px;
  background-position: left top;
  background-repeat: no-repeat;
  height: 128px;
  /*padding-left: 128px;*/
}
[href$=".pdf"]{
  background-image: url("../img/filetype_pdf.png");
}
[href$=".avi"]:before{
  content: "";
  display: inline-block;
  width: 128px;
  height: 128px;
  float:left;
  background: url("../img/avi_sprite.png") no-repeat left top;
}
[href$=".avi"]:hover:before{
  background-position: left bottom;
}
[title*="первый"]:before{
  content:"!";
  font-size: 45px;
  display: block;
}
/* Селекторы класса */
.odd{
  background-color: lightblue;
  color: blue;
}
/* Селекторы псевдоклассов */
input:focus{
  background-color: lightgreen;
}
td:hover{
  background-color: aquamarine;
}
tr:last-child td:last-child{
  background-color: #f00;
}
/* Селектор идентификатора */
#last{
  color: #777;
}
img#unique{
  max-width: 200px;
  max-height: 50px;
}
/* Accordion */
.accordion{
  height: 200px;
  width: 1000px;
  position: relative;
}
#acc1 .accordion-item{
  float: left;
}
#acc2 .accordion-item,
#acc1 .accordion-item{
  width: 200px;
  /*height: 100%;*/
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
#acc2 .accordion-item{
  position: fixed;
  bottom: 0px;
}
#acc2 #ai1{
  left: 0px;
}
#acc2 #ai2{
  left: 200px;
}
#acc2 #ai3{
  left: 400px;
  top:0px;
  height: 200px;
}
#acc2 #ai4{
  right: 0px;
}
.accordion-item-content{
  height: 100%;
  width: 600px;
  color: white;
}
#ai1>.accordion-item-content{
  background-color: red;
}
#ai2>.accordion-item-content{
  background-color: green;
}
#ai3>.accordion-item-content{
  background-color: blue;
}
#ai4>.accordion-item-content{
  background-color: #777;
}

/* ********* */
ul{
  overflow: hidden;
}