.tab{
  display: inline-block;
  background: lightgreen;
  min-width: 100px;
  padding-top: 5px;
  margin-top: 10px;
}
.tab.current{
  background-color: green;
  color: white;
}
.tab:hover{
  padding-top: 15px;
  margin-top: 0px;
}
.tabs-content{
  position: relative;
}
.tab-content{
  position: absolute;
  background-color: yellow;
  display: none;
}
.tab-content.current{
  display: block;
}
.move{
  position: absolute;
  left: 200px;
  top: 0px;
  background-color: #74B9EC;
  color: white;
}

