.tabs{
  position: relative;
}
.tab{
  display: inline-block;
  background: lightgreen;
  min-width: 100px;
  padding-top: 5px;
  margin-top: 10px;
}
.tab.current{
  background-color: green;
  color: white;
}
.tab:hover{
  padding-top: 15px;
  margin-top: 0px;
}
.tabs-content{
  position: relative;
}
.tab-content{
  /*position: absolute;*/
  background-color: yellow;
  display: none;
}
.tab-content.current{
  display: block;
}
.move{
  position: absolute;
  left: 200px;
  top: 0px;
  background-color: #74B9EC;
  color: white;
}

.dc{
  clear: both;
}

.movement{
  width: 300px;
  height: 80px;
  overflow: hidden;
  border: 5px solid lightskyblue;
  position: relative;
}
.movement-move{
  padding: 0px;
  margin: 0px;
  width: 500px;
  position: relative;
}
.movement li{
  display: inline-block;
  width: 100px;
  height: 80px;
  padding: 0px;
  margin: 0px;
}
